<!-- ••[1]••••••••••••••••••••••••• app.component.html •••••••••••••••••••••••••••••• -->

<div>
	<!-- You render a signal by reading it's value with '()' at the end -->
	<div>numberSignal: {{ numberSignal() }}</div>
	<div>stringArraySignal: {{ stringArraySignal() }}</div>
	<br /><br />
	<!-- You render a computed signal by reading it's value with '()' at the end -->
	<div>numberComputed: {{ numberComputed() }}</div>
	<br /><br />
	<!-- Here we render a model signal -->
	<input
		#inputRef
		type="text"
		(input)="stringModelSignal.set(inputRef.value)"
	/>
	<br /><br />
	<div>stringModelSignal: {{ stringModelSignal() }}</div>
	<!-- Here we render a signal coming from an observable -->
	<div>fromObservableSignal: {{ fromObservableSignal() }}</div>
</div>
